/* navigation */

/* home */
#home{

}
/* servics center */
#services{
    flex-direction: column;
}
#services.box{

}
/* clients */
#clients{
    overflow: hidden;
}
body{
    background-color: red;
}